
body {
  background-color: #ffa6a6;
}
#userInput {
  width: 190px;
}
#WeatherCityTemp  {
  display: flex;
}
#maindiv {    
    width: 700px;
  }
  #hr1 {
    margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  height:4px;
  background-color: #0fe7b438;
  border-width: 0px;
  width: 400px;
  }
  #p_img {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
 
  margin-bottom: 5px;
}
#imgW{
  position: absolute;
  top: 60px;
  display: block;
}
  #textdiv {
    display: block;
  }
  #greenBold {
    font-weight: normal;
  }
  #greenBold:hover {
    color: green;
    font-weight: bold;
  }
 #form {   
  width: 285px;
  display: inline-block;
  margin: 5px;
 }
 
#weatherInfocont{
  height: 340px;
  display: block;
  float: left;
  border: 10px solid transparent;
  width: 680px;
    /* -moz-border-image: url(images/1.png) 30 round round;
    -webkit-border-image: url(images/1.png) 30 round round; 
    -o-border-image: url(images/1.png) 30 round round; */
    border-image: url(images/1.png) 10% repeat;
}
#weatherInfo {
  background-color: #fefbd8;
  float: left;
  height: 100%;
  margin-top: 0px;
  width: 35%;
  display: inline-block;  
  border-right: 10px solid; 
  text-decoration: underline; 
    /* -moz-border-image: url(images/1.png) 30 round round;
    -webkit-border-image: url(images/1.png) 30 round round; 
    -o-border-image: url(images/1.png) 30 round round; */
    border-image: url(images/1.png) 10% repeat;
}

#map {
  height: 100%;  
  width: 63.4%;
  display: inline-block;
  background-color: goldenrod;  
}
.title {
  display: block;
  text-align: left;
  font-family: Papyrus; 
  color: rgb(42, 157, 224);
  width: 700px;
  margin: 1px;
  padding-left: 15px;
  font-size: 42px;
  text-align: left;
}
#imgW {
  margin-left: auto;
    margin-right: auto;
}
 
#info {
  display: inline-block;
  width: 400px;
  background-color: #fefbd8; 
  text-align: center;  
  }
  #weatherInfoWindow {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    background-color: #fefbd8;
     position: absolute;
       top: 90%;
       right:  0%;
        height: 60px;
         width: 240px;         
          border: 2px solid grey;
          -moz-border-image: url(images/1.png) 30 round round;
    -webkit-border-image: url(images/1.png) 30 round round; 
    -o-border-image: url(images/1.png) 30 round round;
    border-image: url(images/1.png) 30 round round;

  }

  #weatherInfoWindowRiht {
    background-color: #efd394;
     position: absolute;
top: 20px;
left: 418px;
height: 110px;
width: 282px;
         border: 2px solid grey;
    -moz-border-image: url(images/1.png) 30 round round;
    -webkit-border-image: url(images/1.png) 30 round round; 
    -o-border-image: url(images/1.png) 30 round round;
    border-image: url(images/1.png) 30 round round;
          font-size: 20px;
          font-weight: bold;
          vertical-align: middle
  }
  form {
  display: flex;
 }
  li:hover {
  color: red;
}
 li {
  background-color: #fefbd8; 
  text-align: left;  
 }
 
ol > li {
  /*display: flex;*/
  font-size: 25px;
}
    .animate__fadeInLeft{
      animation-duration: 1.5s;
    }
    .animate__fadeInDown{
      animation-duration: 0.5s;
    }
    #imgW {
 animation: imgW 5s infinite;
 }
 @keyframes imgW {
  0%   {left: 10px} 
  50%  {left: 220px} 
  100% {left: 10px}
  }

   